.content{
    text-align: center;
}

.article {
    margin: 0 150px;
    display: inline-block;
    max-width: 985px;
}

.article h1 {
    color: #f34109;
    font-size: 37px;
    margin: 75px 0;
    font-family: 'Times New Roman', Times, serif;
}

.article p {
    display: block;
    text-align: left;
    font-size: 25px;
    line-height: 45px;
    color: #333333;
}

.article a{
	text-align: left;
    font-size: 25px;
}

.article img{
	margin: 102px 0;
}