* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Simsun;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

meta {
    display: none;
}

body {
    background: #ededed;
    min-width: 1024px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.header {
    margin: 41px auto;
    max-width: 985px;
}

.tabs {
    display: block;
}

.tabs_height {
    height: 80px;
}

.tabs li {
    float: left;
    list-style: none;
}

.tag {}

.tag a {
    display: block;
    margin: 50px 2px 0 2px;
    text-align: center;
    padding: 2px 10px;
    color: #333333;
    text-decoration: none;
    font-size: 18px;
}

.tag a:hover,
#selected {
    border-radius: 10px;
    background-color: #f34109;
    color: #fcfbfb;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.logo a {
    background: url("../images/logo-r.png") no-repeat;
    display: block;
    width: 204px;
    height: 80px;
    background-size: contain;
    /*  text-indent: 100%;
    overflow: hidden;*/
    margin: 0 49px 0 0;
}

.nav {
    margin: 0 auto;
    width: 985px;
    height: 44px;
    font-size: 20px;
    text-decoration: none;
    color: #333333;
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: #333333;
}

.nav a:hover {
    color: #f34109;
}

.content {
    min-height: 400px;
    min-width: 1024px;
    background: #ffffff;
}

.footer {
    margin: 43px auto 38px auto;
    max-width: 100%;
    text-align: center;
    font-size: 24px;
}

.footer a {
    position: relative;
    text-decoration: none;
}

.footer img {
    vertical-align: middle;
    max-height: 52px;
}

.footer span {
    vertical-align: middle;
    margin-left: 13px;
    color: #333333;
}

.slider {
    position: relative;
    overflow: auto;
    text-align: center;
}

.slider li {
    list-style: none;
}

.slider ul li {
    float: left;
    width: 100%;
    background-size: contain;
    min-height: 600px;
}

.dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 6.5px;
    text-indent: -999em;
    border: 2px solid #f34109;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.dot.active {
    background: #f34109;
    opacity: 1;
}

/*.dot:hover{
    border: 3px solid #f34109;
}*/
